= form_tag '/mushrooms', method: :get do
 - filter_attributes.each do |field|
   = select_tag :"#{field}", options_for_select(Mushroom.send("#{field}s"),
                  params[field]), include_blank: "#{field.humanize}?",
                  onchange: 'this.form.submit();'
 br
 / = submit_tag '🍄'*3
 br
 = link_to "Reload page", mushrooms_path
 br
